@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.logo-wrapper {
 
    transform: skewX(15deg) rotate(-4deg);
}

.xmen-logo {
    font-family: 'Bangers', cursive;
    font-size: 140px;
    letter-spacing: 2px;
    color: #ffde00; /* Żółty środek liter */
    margin: 0;
    position: relative;
    user-select: none;
    
    text-shadow: 
        /* --- CZERWONA EKSTRUZJA 3D --- */
        -1px 1px 0 #cc0000,
        -2px 2px 0 #cc0000,
        -3px 3px 0 #cc0000,
        -4px 4px 0 #cc0000,
        -5px 5px 0 #cc0000,
        -6px 6px 0 #cc0000,
        -7px 7px 0 #cc0000,
        -8px 8px 0 #cc0000,
        -9px 9px 0 #cc0000,
        -10px 10px 0 #cc0000,
        -11px 11px 0 #cc0000,
        -12px 12px 0 #cc0000,
        -13px 13px 0 #cc0000,
        -14px 14px 0 #cc0000,
        -15px 15px 0 #cc0000,
        -16px 16px 0 #cc0000,

   
        -17px 16px 0 #000,
        -17px 17px 0 #000,
        -16px 17px 0 #000,
        -15px 17px 0 #000,
        
        1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000,
        1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        
        2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
        2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}